[Unit]
Description=Run Scythe scheduled scan every 30 minutes

[Timer]
OnCalendar=*-*-* *:00,30:00
AccuracySec=1s
RandomizedDelaySec=0
Persistent=true
Unit=scythe-scan.service

[Install]
WantedBy=timers.target
